@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Kirill Diakonov</p>
<address>
    Ukraine<br />
    Lviv, Zaliznichniy region<br />
    <abbr title="Phone">P:</abbr>
    +380992218089
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kirill.diakonov@gmail.com">kirill.diakonov@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kirill.diakonov@gmail.com">kirill.diakonov@gmail.com</a>
</address>